html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: blanchedalmond;
}

.lastResult {
    color: white;
    padding: 3px;
}

h1 {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 0px;

}